{
  "author": {
    "from_git": true
  },
  "license": "{{ project_licenses | join(' OR ') }}",
  "custom_license": {{ ("{% license_header project_licenses %}") | tojson }},
  "include": [
    "src/**/*.py"
  ]
}