[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[project]
name = "{{ project_slug }}"
description = "{{ project_short_description }}"
authors = [
    {name = "{{ full_name }}", email = "{{ email }}"}
]
readme = "README.md"
requires-python = ">=3.9,<4.0"
keywords = []
license = {text = "{{ project_license }}"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13"
]
dependencies = [
]
dynamic = ["version"]

[dependency-groups]
dev = [
    "pre-commit",
    "ruff",
    "ty"
]

[project.optional-dependencies]

[project.urls]
homepage = "https://github.com/{{ github_user }}/{{ project_slug }}"
documentation = "https://{{ github_user }}.github.io/{{ project_slug }}"
repository = "https://github.com/{{ github_user }}/{{ project_slug }}"

[tool.hatch.version]
source = "uv-dynamic-versioning"
fallback-version = "0.0.0"


[tool.hatch.build.targets.wheel]
packages = ["src/{{ project_base_module }}"]

[tool.hatch.build.hooks.version]
path = "{{ project_base_module }}/_version.py"
template = '''# -*- coding: utf-8 -*-
version = "{version}"
'''

[tool.ruff]
line-length = 88

src = ["src", "tests"]

fix = true

# Assume Python 3.10.
target-version = "py310"

[tool.ruff.lint]
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.lint.isort]
known-first-party = ["{{ project_base_module }}"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.pixi.project]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tool.pixi.dependencies]
pip = ">=25.0"

[tool.pixi.pypi-dependencies]
"{{ project_slug }}" = { path = ".", editable = true }

[tool.pixi.feature.dev_utils.pypi-dependencies]
"{{ full_project_slug }}" = { path = ".", editable = true, extras = ["dev"] }

[tool.pixi.environments]
default = { solve-group = "default" }
dev = { features = ["dev"] }  # should be the same solve-group, but that doesn't seem to work with pixi currently

